body {
  background-color:rgb(33, 8, 38);
  color: white;
}

#navbar {
  display: flex;
   flex-direction: row;
   height: 20%;
   width: 100%;
   flex-wrap: wrap;
}

#icon{
  
  margin-top:1% ;
  margin-left: 1%;
  width: auto;
  height: auto;
}
#icon-text{
  margin-top:1.8% ;
}
#guitar{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
}
#studio{
  color: grey;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
}

.font-style{
   font-family: Georgia, 'Times New Roman', Times, serif;
}

#favourite{
  margin-top: 1.8%;
  margin-left: 20%;
  color:aliceblue;
}

.form{
      margin-top: 2%;
      position: absolute;
      right: 20%;
}
.form input{
  background-color: rgb(33, 8, 68);
  border-bottom: 0;
  border-right: 0;
  width: 75%;
  margin-right: -12%;
 height: 50%;
}

#notification-icon{
  margin-top: 1.5%;
  position:absolute;
  right: 10%;
}

#artist{
  margin-top: 1%;
  position:absolute;
  right: 1%;
  height:2px;
  /* border-radius: 50%; */
}


#artist-container img{
  background-size: contain;
  border-radius: 50%;
  border: 1px solid white;
}
/*  image section where song list and that big image  is present */
#content{
  display: flex;
  flex-direction: row;
  margin: 4%;
}

li{
  list-style: none;
}

.song{
 opacity: 0.7;
  height: 5rem;
  width: 57vw;
  margin-top: 1.5%;
  margin-left: -3%;
  background-size: contain;
}

.song:hover{
  opacity: 1;


}

.artist{
  border-radius: 50%;
  margin: 2%;
}
/* to make name and picture of artist row wise */
#artist-section
{
  display: flex;
  flex-direction: row;
}

/* to adjust names of artist with their pic */
.item{
  padding: 8%;
}
/* to make name in one line */
#name-list{
  width: 10vw;
}

/* heart section */

.heart-img{
  margin:85%;
}



/* for the song being shown played */
#playing{
  width: 100%;
height: 5rem;

}

#playing_song{
  margin-top: -5%;
  position: sticky;
  bottom:0%;
  
}

.artist-2{
  border-radius: 50%;
  margin: 2%;
  
  height: 5rem;
}

/* for all anchor tag */

a{
             color: white;
             text-decoration: none;
}